.list_info {
    list-style-type: none;
    padding: 0;
    margin: 0;

    >li {
        margin: 0 0 7px;

        >p,
        h2 {
            padding-top: 0;
            font-size: 16px;
            line-height: 27px;
            text-transform: inherit;
            color: #777676;
            margin: 0;
        }

        >p {
            >a {
                font-size: 16px;
                color: #288ad6;
                cursor: pointer;
            }

            >a:hover {
                color: fuchsia;
                text-decoration: underline;
            }
        }
    }
}

.follow {
    margin-top: 12px;

    >button {
        font-size: 15px;
    }
}

.read_action {
    margin-top: 10px;

    >button {
        >a {
            color: white;
            font-size: 15px;
        }
    }
}